In [2]:
import pandas as pd
%load_ext sql
%sql sqlite://

# SQL with LOTR: Elven Wildcards - 7th

Deep within the fair realm of Lothl√≥rien, you have been asked to create a shortlist of candidates for a recently vacated position on the council.

Of so many worthy elves, who to choose for such a lofty position? After much thought you decide to select candidates by name, which are often closely aligned to an elf's skill and temperament.

Choose those with tegil appearing anywhere in their first name, as they are likely to be good calligraphers, OR those with astar anywhere in their last name, who will be faithful to the role.

Elves table:

- firstname
- lastname  

all names are in lowercase

To aid the scribes, return the firstname and lastname column concatenated, separated by a space, into a single shortlist column, and capitalise the first letter of each name.

### Correct Answer
Didn't work in this notebook because I'm using sqlite and Codewars uses postgreSQL

In [1]:
SELECT INITCAP(CONCAT(firstname, ' ', lastname)) AS shortlist
FROM elves 
WHERE firstname LIKE '%tegil%'
  OR  lastname LIKE '%astar%'

----

In [5]:
%%sql

SELECT firstname || ' ' || lastname AS fullname FROM elves 
WHERE firstname LIKE '%ierr%'

 * sqlite://
Done.

[('dierrien lanthirion',)]

In [3]:
%%sql

CREATE TABLE elves
(
    firstname   text,
    lastname   text
);

 * sqlite://
Done.

[]

In [4]:
%%sql

INSERT INTO elves
VALUES 
    ('dierrien', 'lanthirion'),
    ('celontar', 'lastwen'),
    ('heel', 'ianthan'),
    ('lasden', 'dariel');

 * sqlite://
4 rows affected.

[]

# Countries Capitals for Trivia Night - 7th
Your friends told you that if you keep coding on your computer, you are going to hurt your eyes. They suggested that you go with them to trivia night at the local club.

Once you arrive at the club, you realize the true motive behind your friends' invitation. They know that you are a computer nerd, and they want you to query the countries table and get the answers to the trivia questions.

Schema of the countries table:

- country (String)
- capital (String)
- continent (String)
The first question: from the African countries that start with the character E, get the names of their capitals ordered alphabetically.

You should only give the names of the capitals. Any additional information is just noise
If you get more than 3, you will be kicked out, for being too smart
Also, this database is crowd-sourced, so sometimes Africa is written Africa and in other times Afrika.
Resources:

SQL LIKE Oerator
SQL IN Operator
SQL ORDER BY

In [2]:
%%sql

CREATE TABLE countries
(
    country   varchar(6),
    capital   varchar(6),
    continent  varchar(6)
);

 * sqlite://
Done.

[]

In [4]:
%%sql

INSERT INTO countries
VALUES 
    ('Eswatini', 'Lobamba', 'Afrika'),
    ('Nigeria', 'Abuja', 'Africa'),
    ('Ethiopia', 'Addis Ababa', 'Africa'),
    ('Jordan', 'Amman', 'Asia');

 * sqlite://
4 rows affected.

[]

### Answer

In [9]:
%%sql
SELECT capital from COUNTRIES
    WHERE country LIKE 'E%'
    AND continent IN ('Africa', 'Afrika')
    ORDER BY capital
    LIMIT 3;

 * sqlite://
Done.

[('Addis Ababa',), ('Lobamba',)]