In [1]:
import pandas as pd

# Installing SQL

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.19-cp36-cp36m-win_amd64.whl (1.5 MB)
Requirement already satisfied: ipython>=1.0 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: six in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: decorator in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: colorama in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pickleshare in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\halpe\appdata\roaming\python\python36\site-packages (from ipython>=1.0->ipython-sql) (54.2.0)
Requirement already satisfied: pygments in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: backcall in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\halpe\.conda\envs\learn-env\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: importlib-metadata in c:\users\halpe\appdata\roaming\python\python36\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.10.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.0-cp36-cp36m-win_amd64.whl (95 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\halpe\appdata\roaming\python\python36\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\halpe\appdata\roaming\python\python36\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=571e787d615602798260e8c2de140f1bd72ffd72808f2b44b9a7060402ef6bc4
  Stored in directory: c:\users\halpe\appdata\local\pip\cache\wheels\11\00\57\e546bd5a658bfe75edfa8584ce66aa7868f742c22cee56ecac
Successfully built prettytable
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed greenlet-1.1.0 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.19 sqlparse-0.4.1

WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\halpe\.conda\envs\learn-env\lib\site-packages)

# Working with SQL

### Load SQL into notebook

In [3]:
%load_ext sql

### We need a connection string to connect to the database. For SQLite, it is:

In [4]:
%sql sqlite://

### Create table

Note, each cell needs to be annotated with `%%sql`. This tells the Jupyter Notebook that the code in the cell is SQL.

In [6]:
%%sql

CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

 * sqlite://
Done.
6 rows affected.

[]

In [8]:
%%sql

select * from sales;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

Below you're assigning the previous output of the cell to the variable `result`. That's what the `_` is doing.

In [9]:
result = _

In [10]:
type(result)

sql.run.ResultSet

Now, let’s convert the ResultSet directly to a pandas DataFrame with:

In [11]:
df = result.DataFrame()

In [14]:
%%sql

SELECT key FROM sales

 * sqlite://
Done.

[('sale_1',), ('sale_2',), ('sale_3',), ('sale_4',), ('sale_5',), ('sale_6',)]